.homepage-container {
    width: 100%;
    height: 100vh;
    background-color: #404BC5;
    display: flex;
    flex-direction: column;
}

.homepage-container .homepage-boards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFBFC;
}

.homepage-container .homepage-boards .homepage-sidebar {
    width: 20%;
    height: 100%;
    padding: 3rem 1rem;
}

.homepage-container .homepage-boards .homepage-body {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 1rem;
}

.homepage-container .homepage-boards .homepage-body .homepage-content {
    width: 65%;
    height: 100%;
}

.homepage-container .homepage-boards .homepage-body .homepage-content .content-wrapper {
    width: 100%;
    height: 280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15);
}

.homepage-container .homepage-boards .homepage-body .homepage-content .content-wrapper .content-img img {
    width: 100%;
    border-radius: 6px 6px 0 0;
}

.homepage-container .homepage-boards .homepage-body .homepage-content .content-wrapper .content-paragraph {
    width: 100%;
    height: 140px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homepage-container .homepage-boards .homepage-body .homepage-content .content-wrapper .content-paragraph p {
    margin-top: 20px;
    font-size: 13px;
    align-self: center;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu .create-link-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu .create-link-menu p {
    font-size: 12px;
    color: #616161;
    margin-bottom: 1.2rem;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu .create-link-menu div {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu .create-link-menu div .add-box {
    height: 30px;
    width: 35px;
    border-radius: 3px;
    margin-right: 10px;
    background-color: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.homepage-container .homepage-boards .homepage-body .homepage-right-menu .create-link-menu div p {
    margin-top: 15px;
}

